<a href="https://colab.research.google.com/github/Abi0p/DATA_SCIENCE_ECOSYSTEM/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:


for i in range(0, 100):
  if (i%2==0):
     print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [12]:
for i in range (1,11):
  print("7*" , i , '=' ,7*i)

7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70

take the input from the user and print the table he want

In [14]:
n =int (input())
for i in range (1,11):
  print(n,"*",i,"=",n*i)

8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

Take the input from the user and print the sum of all numbers upto input taken

In [17]:
sum = 0
n =int (input())
for i in range (1,n+1):
  sum=sum+i
print(sum)

10
55

factorial

In [19]:
n = int(input())
fact = 1
for i in range (1,n+1):
  fact=fact*i
print(fact)

2
2

develop a stone paper scissor game for the user

In [23]:
n = int(input('enter the number of rounds '))
for i in range (1,n+1):
  player1 = str(input("enter something from 'stone', 'paper','scissor' "))
  player2 = str(input("enter something from 'stone', 'paper','scissor'"))
  if (player1=='stone' and player2=='paper'):
    print('player win in 2 in round')
  if (player1=='stone' and player2=='scissor'):
    print('player is 1 in round')
  elif (player1=='paper' and player2=='stone'):
    print('player is 1 in round')
  elif (player1=='paper' and player2=='scissor'):
    print('player is 2 in round')
  elif (player1=='scissor' and player2=='paper'):
    print('player is 1 in round')
  elif (player1=='scissor' and player2=='stone'):
    print('player is 2 in round')
  else:
    print("draw")

enter the number of rounds 1
enter something from 'stone', 'paper','scissor' paper
enter something from 'stone', 'paper','scissor'stone
player is 1 in round

squared sum of even numbers until the input

In [25]:
n = int(input())
squared = 0
sum = 0
for i in range (1,n+1):
  squared = i*i
  sum = sum + squared
print(sum)

3
14

Write a Python program to find the sum of all even numbers between 1 and 100 using a loop and conditional statement

In [34]:
N = int(input())
sum = 0
for i in range (1,N+1):
  if (i%3==0):
    sum +=i
print(sum)

6
9

In [37]:
n = int(input())
squared = 1
for i in range (1,n+1):
  squared = i*i
print (squared)

100
10000

2. Create a program that calculates the factorial of a given number using a loop. Make sure to handle the case where the input is negative.

In [30]:
n = int(input("Enter a number: "))
fact = 1

if n < 0:
    print("Factorial is not defined for negative numbers.")
else:
    for i in range(1, n + 1):
        fact *= i
    print("Factorial of", n, "is:", fact)

Enter a number: -5
Factorial is not defined for negative numbers.

In [31]:

total_sum = 0
input_number = None

while True:
    input_number = int(input("Enter a number: "))
    if input_number % 2 == 0:
        break
    total_sum += input_number
print("Sum of all numbers entered:", total_sum)

Enter a number: 1
Enter a number: 5
Enter a number: 2
Sum of all numbers entered: 6