<a href="https://colab.research.google.com/github/Abi0p/DATA_SCIENCE_ECOSYSTEM/blob/main/day_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('Abir ')

Abir

In [ ]:
x = int(input("enter the number"))
y = int (input('enter the number2'))
z = x+y
print (z)

enter the number9
enter the number210
19

In [ ]:
first_name = input("enter the first name")
last_name  = input("enter the last name ")
print (first_name)
print (last_name)
print (first_name + " "+  last_name)

enter the first nameabir
enter the last name datta
abir
datta
abir  datta

In [11]:
x = int(input())
if (x%2==0):
  print ('even')
else:
  print('odd')

5
odd

In [ ]:
x = int(input())
y = (x*10)
print (y)

5
50

In [ ]:
x = int(input('enter the number '))
y = -x
print (y)

enter the number 10
-10

In [ ]:
x = int(input('enter the number1 '))
y = int(input('enter the number2 '))
z = int(input('enter the number3 '))
if (x+y==z):
  print ("sum of x and y is equal to y")
else:
  print ('sum of x and y is not  equal to y')

enter the number1 5
enter the number2 10
enter the number3 20
sum of x and y is not  equal to y

In [12]:
x = int(input())
if (x%5==0):
  print ('DIVISIBLE BY 5')
else:
  print('NOT DIVISIBLE BY 5')

5
DIVISIBLE BY 5

In [13]:
x = int(input('enter the number1 '))
y = int(input('enter the number2 '))
z = int(input('enter the number3 '))
if ( x>y & x>z):
  print ('x is greater than y and z')
elif (y>x & y>z):
  print ('y is greater than x and z')
else:
  print ('z is greater than y and x')

enter the number1 5
enter the number2 6
enter the number3 10
z is greater than y and x

In [19]:
def find_minimum (numbers):
  minimum_num = numbers[0]
  for num in numbers :
    if (num < minimum_num):
       minimum_num = num
  return minimum_num
def main() :
  numbers = []
  for i in range(5):
    num = float(input(f"enter the number{i+1}:  "))
    numbers.append(num)

  minimum = find_minimum(numbers)
  print(f"The minimum of the numbers is: {minimum}")
if __name__ == "__main__":
   main()

enter the number1:  10
enter the number2:  5
enter the number3:  6
enter the number4:  7
enter the number5:  2
The minimum of the numbers is: 2.0

In [20]:
x = int(input())
if (x%3==0 & x%7==0):
  print ('DIVISIBLE BY both 3 and 7')
else:
  print('NOT DIVISIBLE BY 3 and 7')

21
DIVISIBLE BY both 3 and 7

In [23]:
Age = int(input("enter the Age "))
if (Age >= 18):
  print("You are eligible to vote ")
else:
  print("You are not eligible to vote")

enter the Age 16
You are not eligible to vote

In [24]:
Year = int(input("enter the year "))
if (Year % 4==0 & Year % 100 ==0 & Year % 400 ==0 ):
  print("The year is leap year ")
else:
  print("The year is not leap year ")

enter the year 2024
The year is leap year

In [25]:
def triangle_type(side1, side2, side3):
    if side1 == side2 == side3:
        return "Equilateral"
    elif side1 == side2 or side1 == side3 or side2 == side3:
        return "Isosceles"
    else:
        return "Scalene"

def main():
    side1 = float(input("Enter the length of the first side: "))
    side2 = float(input("Enter the length of the second side: "))
    side3 = float(input("Enter the length of the third side: "))

    triangle = triangle_type(side1, side2, side3)
    print(f"The triangle with sides {side1}, {side2}, {side3} is {triangle}.")

if __name__ == "__main__":
    main()

Enter the length of the first side: 10
Enter the length of the second side: 15
Enter the length of the third side: 15
The triangle with sides 10.0, 15.0, 15.0 is Isosceles.

In [26]:
def main():
    salary = float(input("Enter your current salary: "))
    years_of_service = int(input("Enter your years of service: "))

    if years_of_service > 5:
        bonus_percentage = years_of_service * 0.05
        bonus = salary * bonus_percentage
        print(f"Your bonus is: ${bonus:.2f}")
    else:
        print("Sorry, you are not eligible for a bonus.")

if __name__ == "__main__":
    main()

Enter your current salary: 6
Enter your years of service: 5
Sorry, you are not eligible for a bonus.